body {
  background-color: #f6fcfd;

}

p{
  font-family: "Thasadith", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navBar {
  border: .1px none;
  border-radius: 10px;
  height: 30px;
  width: 650px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 2% 6% .6% 0%;
  background-color: #a2c1df;
  color: #ffffff;
}

.navText {
  color: #ffffffea;
  text-decoration: none;
}

.textAlign{
  text-align: center;
  text-shadow: 
        1px -1px 0px #070763,
        -1px -1px 0px #070763;
  font-size: 35px;
}

#header{
  outline-color: #05053b;
  color: #59598d;
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-style: normal;
  z-index: 1000;
  position: absolute;
  margin: 0% 10%;

}

#imgHeader{
  width: 100%;
  position: relative;

}

h2 {
  margin-bottom: 0px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 50px;
}

#textAlign {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-style: normal;
}

#bottom{
  display: flex;
  margin: auto;
  padding: 2% 5%;
  background-color: #a2c1df;
  margin: 0% 15%;
  border-radius: 10px;
}

#subscribe{
  color: #05053b;
}

#contactUs{
  display: flex;
  align-items: right;
  text-align: right;
  margin-left: 25%;
  padding-right: 5px;
  color: #05053b;

}

/* __________________________________________ */
.card {
  display: flex;
  justify-content: space-around;
  margin: auto;
  text-align: center;
  padding: 25px 25px 25px 25px;
  box-shadow: 0 4px 8px 0 #0102279f;
  transition: 0.3s;
  border-radius: 5px;
  width: 50vh;
}

.card:hover {
  box-shadow: 0 16px 32px 0 #83a2c5;
}

#catFactsBtn {
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  background-color: #b2bcc6;
  padding: 5px 5px;
}

#catFacts {
  display: flex;
  align-items: center;
}

.margins {
  margin: 0% 15%;
}


img {
  border-radius: 10px;
  margin-bottom: 10px;
}

#random {
  display: flex;
  align-items: right;
  height: 35vh;
  padding: 0px 0px 0px 0px;
  margin-top: 25px;
}


#random:hover {
  transition: transform 5s;
  transform-origin: top center;
  transform: scale(1.5);
}

#dogRandom {
  display: flex;
  align-items: left;
  height: 40vh;
  width: auto;
  display: flex;
  justify-content: center;
  transition: all 3s ease-in;
  position: relative;
  padding-top: 10%;
  margin-bottom: 20px;
  margin-top: 10px;
}


#dogRandom:hover {
  transform: translatex(300px);
}